.title {
  font-size: 20px;
}

.title_chart {
  width: 50%;
}

.contents {
  display: flex;
  font-size: 0.75rem;
  margin: 8px 0;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  height: 300px;
  border: 0.1px solid rgb(187, 187, 187);
}

.detail {
  display: flex;
  flex-direction: column;
  font-size: 14px;
  width: 120px;
  padding-top: 16px;
  padding-left: 16px;
}

.chart {
  width: 380px;
}
