.title {
  font-size: 20px;
  padding-bottom: 16px;
  font-weight: bold;
}

.upper {
  overflow-y: auto;
  height: 480px;
}

.songlist {
  overflow-y: auto;
}


.names {
  display: inline-block;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  cursor: pointer;
}

.names:hover {
  color: #ff6b2b;
}

.parallel {
  padding-top: 24px;
  height: 100px;
}

.buzz_title {
  display: flex;
  align-items: center;
  padding-top: 5px;
  cursor: pointer;
  font-size: 1.25rem;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.buzz_title:hover {
  color: #ff6b2b;
}
.date_select {
  text-align: center;
}

.loading {
  height: 500px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (max-width: 700px) {
  .title {
    padding-top: 16px;
    padding-left: 8px;
    padding-bottom: 8px;
  }

  .parallel {
    height: 50%;
    padding: 16px;
  }
}
