.upper {
  overflow-y: scroll;
  height: 480px;
}

.songlist {
  overflow-y: scroll;
}

.listitem {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  overflow-y: scroll;
}

.images_names {
  display: flex;
  flex-direction: row;
  align-items: center;
  align-items: flex-start;
  padding-bottom: 16px;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.images_names:hover {
  color: red;
}

.names {
  padding-left: 16px;
  cursor: pointer;
}

.parallel {
  padding-top: 16px;
  height: 100px;
}

/* .buttons {
  padding: 0;
  border: none;
  background: transparent;
}

 button img {
  display: block;
} */
