.song_list {
  overflow-y: auto;
  height: 480px;
  padding-bottom: 16px;
}

@media (max-width: 700px) {
  .song_list {
    overflow: hidden;
    height: initial;
  }
  .show_list {
    text-align: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 60%;
    height: 44px;
    background: #000000;
    border-radius: 30px;
    box-sizing: border-box;
    color: #fff;
    font-size: 16px;
    letter-spacing: 0.1em;
    text-decoration: none;
    margin: 0 auto;
  }
}
